html,body{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  font-family: 'Khula', sans-serif;
}
section{
  border: 1px solid black;
  padding: 2%;
  margin: 2%;
  width: 65%;
}
.inline-block{
  display: inline-block;
  height: 100%;
}
h4{
  display: inline-block;
}
.flex{
  display: flex;
}
/*Utilities*/
.gray-medium{
  background-color: #cccc;
}
.gray-claro{
  background-color: #F9A91A;
}
.gray-dark{
  background-color: #333333;
}
.font-Rokkitt{
  font-family: 'Rokkitt', serif;
}
.font-Roboto{
  font-family: 'Roboto', sans-serif;
}
img{
  height: 300px;;
  width: 100%;
}
hr{
  background: #333333;
  width: 3%;
  height: 3px;
  border-style: none;
  text-align: left;
}
.detail-img{
  width: 40%;
  height: 100%;
}
.detail-name{
  width: 60%;
}
